<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Hello World.  My name is Robert Sosebee : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Hello World.  My name is Robert Sosebee</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/eebesos">View on GitHub</a>

          <h1 id="project_title">Hello World.  My name is Robert Sosebee</h1>
          <h2 id="project_tagline"></h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
<a id="so-you-came-here-to-look-me-up" class="anchor" href="#so-you-came-here-to-look-me-up" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>So you came here to look me up?</h3>

<p>Well Hi!  I'm an outdoor enthusiast who loves to code.  I will add some cool outdoorsy helpful applications for the Android Store and Windows Marketplace to <a href="https://github.com/eebesos" class="user-mention">@eebesos</a>'s account.  Apps for hiking, biking, canoeing, tennis...etc.  Maybe I'll consider using Xamarin to build iOS apps also.  I'll hopefully offer some cool code that you can fork! </p>

<h3>
<a id="work-experience" class="anchor" href="#work-experience" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Work Experience</h3>

<p>Team Development Manager - <a href="www.accuagency.com">Assurance Systems, Inc.</a></p>

<p>Software Engineer - <a href="www.accuagency.com">Assurance Systems, Inc.</a></p>

<p>Floor Supervisor - <a href="http://news.nike.com/">Nike, Inc.</a></p>

<p>Intern - <a href="https://en.wikipedia.org/wiki/DayStar_Digital">Daystar Digital</a></p>

<h3>
<a id="education" class="anchor" href="#education" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Education</h3>

<p>B.S Computer Science - <a href="http://ung.edu/">University of North Georgia</a></p>

<p>Project Management Fundamentals Certificate - <a href="http://www.georgiacenter.uga.edu/">University of Georgia</a></p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-73727788-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
